<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Marvel - Pedro Gutiérrez</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="author" content="Pedro Gutiérrez">
		<link rel="author" href="http://xitrus.es">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<!-- <link rel="icon" href="/favicon.png" type="image/png"> -->
		<!-- <link rel="apple-touch-icon" href="/favicon.png"> -->
		<link rel="stylesheet" href="style/main.css">
		<link rel="stylesheet" href="style/font-awesome.min.css">
		<script src='script/marvel.js'></script>
		<script src='script/main.js'></script>
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-9283221-9', 'xitrus.es');
		  ga('require', 'displayfeatures');
		  ga('send', 'pageview');

		</script>

		<script id="template-align" type="text/html"><div class="align"></div></script>
		<script id="template-char" type="text/html">
			<article class="hidden trim" style="z-index:{{index}}">
				<div class="thumbnail" style="background:url('{{thumbnail}}');"></div>
				<div class="info">
					<div class="name">{{name}}</div>
					<div class="description">{{description}}</div>
				</div>
				<div class="details detail-{{haveseries}}" onclick="if({{haveseries}}) searchTarget('serie','{{id}}','char_serie');"><i class="fa fa-film"></i>Series<span>{{series}}</span></div>
				<div class="details detail-{{havecomics}}" onclick="if({{havecomics}}) searchTarget('comic','{{id}}','char_comic');"><i class="fa fa-book"></i>Cómics<span>{{comics}}</span></div>
				<div class="details detail-{{haveseries}}" onclick="if({{havestories}}) searchTarget('story','{{id}}','char_story');"><i class="fa fa-file-text-o"></i>Historias<span>{{stories}}</span></div>
			</article>
		</script>
		<script id="template-comic" type="text/html">
			<article class="hidden trim" style="z-index:{{index}}">
				<div class="thumbnail" style="background:url('{{thumbnail}}');"></div>
				<div class="info">
					<div class="name">{{title}}</div>
					<div class="description">{{description}}</div>
				</div>
				<div class="details detail-{{havechars}}" onclick="if({{havechars}}) searchTarget('char','{{id}}','comic_char');"><i class="fa fa-users"></i>Personajes<span>{{chars}}</span></div>
				<div class="details"><i class="fa fa-copy"></i>Páginas<span>{{pages}}</span></div>
				<div class="details"><i class="fa fa-money"></i>Precio<span>{{price}}$</span></div>
			</article>
		</script>
		<script id="template-serie" type="text/html">
			<article class="hidden trim" style="z-index:{{index}}">
				<div class="thumbnail" style="background:url('{{thumbnail}}');"></div>
				<div class="info">
					<div class="name">{{title}}</div>
					<div class="description">{{description}}</div>
				</div>
				<div class="details detail-{{havecomics}}" onclick="if({{havecomics}}) searchTarget('comic','{{id}}','serie_comic');"><i class="fa fa-book"></i>Cómics<span>{{comics}}</span></div>
				<div class="details detail-{{havechars}}" onclick="if({{havechars}}) searchTarget('char','{{id}}','serie_char');"><i class="fa fa-users"></i>Personajes<span>{{chars}}</span></div>
				<div class="details"><i class="fa fa-calendar"></i>Duración<span>{{years}}</span></div>
			</article>
		</script>
		<script id="template-story" type="text/html">
			<article class="hidden trim" style="z-index:{{index}}">
				<div class="thumbnail" style="background:url('{{thumbnail}}');"></div>
				<div class="info">
					<div class="name">{{title}}</div>
					<div class="description">{{description}}</div>
				</div>
				<div class="details detail-{{havecomics}}" onclick="if({{havecomics}}) searchTarget('comic','{{id}}','story_comic');"><i class="fa fa-book"></i>Cómics<span>{{comics}}</span></div>
				<div class="details detail-{{havechars}}" onclick="if({{havechars}}) searchTarget('char','{{id}}','story_char');"><i class="fa fa-users"></i>Personajes<span>{{chars}}</span></div>
				<div class="details"><i class="fa fa-pencil"></i>Creadores<span>{{crea}}</span></div>
			</article>
		</script>
	</head>
	<body>
		<header>
			<div class="search-box">
				<input id="search" type="text" onkeyup="isWrote(this);searchOnEnter(event);" placeholder="Buscar" onfocus="searchFocus(true)" onblur="searchFocus()">
				<div class="search-clear">
					<i class="fa fa-times-circle" onclick="clearSearch('search');"></i>
				</div>
				<div class="search-opt select-options" onclick="showOption.changue(this);">
					<i class="fa fa-angle-down"></i> <span>Personaje</span>
					<input type="hidden" id="search-opt" value="char">
					<div class="options">
						<label for="search-type-char"><input onclick="changueOption(this);" id="search-type-char" type="radio" name="search-type" value="char" checked><span>Personaje</span><i class="fa fa-check"></i></label>
						<label for="search-type-comic"><input onclick="changueOption(this);" id="search-type-comic" type="radio" name="search-type" value="comic"><span>Cómic</span><i class="fa fa-check"></i></label>
						<label for="search-type-serie"><input onclick="changueOption(this);" id="search-type-serie" type="radio" name="search-type" value="serie"><span>Serie</span><i class="fa fa-check"></i></label>
					</div>
				</div>
				<div class="search-send" onclick="searchInput();">Buscar</div>
			</div>
			<div id="load-bar">
				<div class="progress"></div>
				<div class="loaded"></div>
			</div>
		</header>

		<section id="content" class='line1'></section>

		<div id="contentScroll"></div>

		<footer>
			<a class="author" href="http://xitrus.es">&copy; <?php echo date ("Y"); ?> - Diseño y desarrollo por Pedro Gutiérrez</a>
			<a class="provider" href="http://marvel.com">Data provided by Marvel. © <?php echo date ("Y"); ?> MARVEL</a>
		</footer>
		<script>LOAD();</script>
	</body>
</html>