@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600');
@font-face{font-family:'Open Sans Light';font-style:normal;src:local('Open Sans Light'),local('OpenSans-Light'),url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff')}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video,input,textarea,select{margin:0;padding:0;border:0;outline:0;outline:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{font-family:'open sans',arial,sans-serif;text-rendering:optimizeLegibility;background:#ddd}
h1,h2,h3,h4,h5,h6{font-weight:600}
input::-webkit-input-placeholder{color:#bebebe}
input:-moz-placeholder{color:#bebebe}
input::-moz-placeholder{color:#bebebe}
input:-ms-input-placeholder{color:#bebebe}
.show-options .options{display:block}
.options{display:none;border:1px solid #ccc;background:#fff;position:absolute;border-top:none;left:0;right:0;padding:4px 0;cursor:default;-webkit-border-radius:0 0 3px 3px;-moz-border-radius:0 0 3px 3px;-ms-border-radius:0 0 3px 3px;-o-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px}.options label{display:block;color:#777;padding:4px 10px;text-shadow:0 1px #fff;position:relative;font-size:18px;cursor:pointer}.options label:hover{background:#eaeaea}
.options label input{display:none}
.options label input:checked~.fa{display:block}
.options label .fa{display:none;position:absolute;top:0;bottom:0;right:10px;line-height:38px !important}
header{position:fixed;top:0;left:0;right:0;width:100%;padding:20px 20px;background:#fff;color:#777;z-index:9000;border-bottom:1px solid #d0d0d0}header .search-box{position:relative;max-width:700px;height:50px;z-index:9999}header .search-box #search,header .search-box .search-clear,header .search-box .search-opt,header .search-box .search-send{height:50px;border:1px solid transparent;font-size:18px;font-family:'Open Sans Light' !important}
header .search-box #search{width:100%;padding:10px 20px;padding-right:280px;color:#585858;border-color:#ccc;-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease;-moz-transition:all .3s ease 0;transition:all .3s ease;transition:all .3s ease 0;-webkit-border-radius:3px;-moz-border-radius:3px;-ms-border-radius:3px;-o-border-radius:3px;border-radius:3px}header .search-box #search:hover{border-color:#dbdbdb}
header .search-box #search:focus{border-color:#09f}
header .search-box.search-wrote .search-clear{color:#707070}header .search-box.search-wrote .search-clear .fa{cursor:pointer}
header .search-box .search-clear{position:absolute;top:0;line-height:48px;font-size:22px;right:252px;color:#fff;-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease;-moz-transition:all .3s ease 0;transition:all .3s ease;transition:all .3s ease 0}header .search-box .search-clear .fa{cursor:default}
header .search-box .search-opt{position:absolute;right:100px;top:0;width:140px;padding:10px 14px;background:#09f;color:#fff;line-height:30px;cursor:pointer;border-width:1px 0;-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease;-moz-transition:all .3s ease 0;transition:all .3s ease;transition:all .3s ease 0}header .search-box .search-opt:hover,header .search-box .search-opt:focus{background:#0087e0}
header .search-box .search-opt .fa{position:absolute;right:14px;top:0;line-height:50px}
header .search-box .search-opt .options{top:49px}
header .search-box.search-wrote .search-send{background:#666;cursor:pointer}
header .search-box .search-send{width:100px;line-height:48px;position:absolute;top:0;right:0;text-align:center;color:#fff;cursor:default;background:#7a7a7a;-webkit-transition:all .2s ease 0;-moz-transition:all .2s ease;-moz-transition:all .2s ease 0;transition:all .2s ease;transition:all .2s ease 0;-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;-ms-border-radius:0 3px 3px 0;-o-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0}header .search-box .search-send:hover{background:#4d4d4d}
#load-bar{position:absolute;bottom:-6px;height:6px;width:100%;left:0;right:0;background:#bbb;-webkit-transition:all .4s ease 0;-moz-transition:all .4s ease;-moz-transition:all .4s ease 0;transition:all .4s ease;transition:all .4s ease 0}#load-bar.loading .progress{-webkit-opacity:1 ;-moz-opacity:1 ;opacity:1 }
#load-bar.error{background:#f66}
#load-bar .progress{position:absolute;top:0;left:0;height:6px;width:200%;background:url('../imgs/loading.png') 0 50%;-webkit-opacity:0 ;-moz-opacity:0 ;opacity:0 ;-webkit-transition:all .6s ease 0;-moz-transition:all .6s ease;-moz-transition:all .6s ease 0;transition:all .6s ease;transition:all .6s ease 0;-webkit-animation:progress 1s linear .01s infinite ;-moz-animation:progress 1s linear .01s infinite ;animation:progress 1s linear .01s infinite }
#load-bar .loaded{height:6px;width:0;background:#09f;-webkit-transition:all .4s ease 0;-moz-transition:all .4s ease;-moz-transition:all .4s ease 0;transition:all .4s ease;transition:all .4s ease 0}
@-webkit-keyframes progress{0%{left:-20px} 100%{left:0}}@-moz-keyframes progress{0%{left:-20px} 100%{left:0}}@keyframes progress{0%{left:-20px} 100%{left:0}}footer{position:fixed;bottom:0;left:0;right:0;width:100%;padding:14px 0;background:#fff;color:#777;font-size:12px;text-shadow:0 1px 0 #ececec;z-index:9000;border-top:1px solid #d0d0d0}footer a{display:inline-block;padding:0 20px;text-decoration:none;color:inherit;font-weight:300;-webkit-transition:all .3s ease 0;-moz-transition:all .3s ease;-moz-transition:all .3s ease 0;transition:all .3s ease;transition:all .3s ease 0}footer a:hover{color:#09f}
footer .provider{float:right}
#content{position:fixed;top:0;bottom:0;left:0;padding:20px;padding-top:130px;padding-bottom:40px;text-align:left;margin:auto;background:#ddd}#content .align{display:inline-block;vertical-align:middle}
#content.line0 .align{height:100%}
#content.line1 .align{height:100%}
#content.line2 .align{height:50%}
#content.line3 .align{height:33.333333333333336%}
#content.line4 .align{height:25%}
article{position:relative;display:inline-block;vertical-align:middle;width:270px;background:#fff;border:1px solid #ccc;border-left-color:#09f;border-top-color:#09f;color:#333;margin:0 20px 40px;-webkit-transition:all .8s ease 0;-moz-transition:all .8s ease;-moz-transition:all .8s ease 0;transition:all .8s ease;transition:all .8s ease 0;-webkit-opacity:1 ;-moz-opacity:1 ;opacity:1 ;-webkit-transform:perspective(600px) translateX(0) rotateY(0deg);-moz-transform:perspective(600px) translateX(0) rotateY(0deg);transform:perspective(600px) translateX(0) rotateY(0deg);-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;transform-style:preserve-3d}article.hidden{-webkit-opacity:0 ;-moz-opacity:0 ;opacity:0 ;-webkit-transform:perspective(600px) translateX(200px) rotateY(-30deg);-moz-transform:perspective(600px) translateX(200px) rotateY(-30deg);transform:perspective(600px) translateX(200px) rotateY(-30deg)}
article:before,article::before{content:'';position:absolute;top:-51px;left:-51px;width:100px;height:100px;background:#ddd;border:1px solid transparent;border-bottom-color:#09f;border-width:1px 0;padding:0 1px;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);transform:rotate(-45deg)}
article .thumbnail{height:200px;width:269px}
article .info{min-height:220px}article .info .name{background:#f0f0f0;padding:8px 12px;font-size:18px;border-bottom:1px solid #e6e6e6;text-align:center;font-weight:300}
article .info .description{color:#888;font-size:12px;padding:12px 14px;word-wrap:break-word}article .info .description *{display:inline}
article .details{position:relative;border-top:1px solid #e6e6e6;background:#f5f5f5;padding:6px 14px}article .details.detail-true{cursor:pointer;box-shadow:inset 8px 0 0 -4px #09f}article .details.detail-true,article .details.detail-true .fa{-webkit-transition:all .4s ease 0;-moz-transition:all .4s ease;-moz-transition:all .4s ease 0;transition:all .4s ease;transition:all .4s ease 0}
article .details.detail-true:hover{color:#fff;box-shadow:inset 274px 0 0 -4px #09f}article .details.detail-true:hover .fa{color:#fff}
article .details .fa{display:inline-block;width:22px;text-align:center;margin-right:10px;color:#444;position:relative;top:-1px}
article .details span{padding:6px 18px;position:absolute;top:0;right:0}
